body{
    color: #40514E;
    margin:0;
    text-align:center;
    font-family: 'Merriweather', serif;
}
h1{
    color: #c12970;
    font-size: 80px;
    margin:50px auto 0 auto;
    font-family: 'sacramento', sans-serif;
}
h2{
    color: #d6592cef;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2 rem;
    font-weight: normal;
    padding-bottom: 10px;

}
h3{
    color: rgb(47, 111, 154);
    font-family: 'Montserrat', sans-serif;

}
p{
    line-height: 2;
}
hr{
    border: dotted #94d1d1 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
a{
    margin:10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.top-container{
    background-color: rgb(127, 234, 255);
    position: relative;
    padding-top:100px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color: #6ac5c8;
    padding: 30px 0 10px;
}
.pro{
    text-decoration: underline;
}
.intro{
    margin: auto;
    width: 30%;

}
.top-cloud{
    position: absolute;
    top:40px;
    right:300px;

}
.bottom-cloud{
    position: absolute;
    left:250px;
    bottom:300px;
}
.skill-row{
    width: 50%;
    margin: 90px auto 100px auto;
    text-align: left;
    
}
.c-logo{
    width: 20%;
    float: right;
}
.mysql-logo{
    width: 20%;
    float: left;
    margin-right:25px;
}
.web-dev-logo{
    width: 20%;
    float: right;
}
.msg{
    margin: 35px auto 60px;
}
.btn {
    background: #21bdc2;
    background-image: -webkit-linear-gradient(top, #21bdc2, #1199E);
    background-image: -moz-linear-gradient(top, #21bdc2, #1199E);
    background-image: -ms-linear-gradient(top, #21bdc2, #1199E);
    background-image: -o-linear-gradient(top, #21bdc2, #1199E);
    background-image: linear-gradient(to bottom, #21bdc2, #1199E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
  .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding:20px 0;
  }